In [95]:
import os
import csv
import pandas as pd

In [96]:
file = os.path.join("Resources", "election_data.csv")

In [97]:
file_df= pd.read_csv(file)
file_df.head(5)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [98]:
file_df.isnull().any()

Voter ID     False
County       False
Candidate    False
dtype: bool

In [99]:
votercount = len(file_df.iloc[:,1])
print(votercount)

3521001

In [100]:
file_df["Candidate"].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [101]:
totals_df = file_df["Candidate"].value_counts().rename_axis("Candidate").reset_index(name="Totals")
totals_df.head()

  Candidate   Totals
0      Khan  2218231
1    Correy   704200
2        Li   492940
3  O'Tooley   105630

In [102]:
percents = round((totals_df["Totals"]/votercount)*100)
totals_df["Percent (%)"] = percents
totals_df.head()

  Candidate   Totals  Percent (%)
0      Khan  2218231         63.0
1    Correy   704200         20.0
2        Li   492940         14.0
3  O'Tooley   105630          3.0

In [107]:
df2= totals_df[totals_df.loc[:,"Totals"] ==max(totals_df["Totals"])]
print(df2)

  Candidate   Totals  Percent (%)
0      Khan  2218231         63.0

In [108]:
df2.iloc[0,0]

'Khan'

In [130]:
print("Election Results")
print("-------------------------")
print(f"Total Votes: {votercount}")
print("-------------------------")
print(f"{totals_df.iloc[0,0]}: {totals_df.iloc[0,2]}% ({totals_df.iloc[0,1]})")
print(f"{totals_df.iloc[1,0]}: {totals_df.iloc[1,2]}% ({totals_df.iloc[1,1]})")
print(f"{totals_df.iloc[2,0]}: {totals_df.iloc[2,2]}% ({totals_df.iloc[2,1]})")
print(f"{totals_df.iloc[3,0]}: {totals_df.iloc[3,2]}% ({totals_df.iloc[3,1]})")
print("-------------------------")
print(f"Winner: {df2.iloc[0,0]}")
print("-------------------------")

Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)
-------------------------
Winner: Khan
-------------------------

In [132]:
for r in range(0,3):
    print(f"{totals_df.iloc[r,0]}: {totals_df.iloc[r,2]}% ({totals_df.iloc[r,1]})")

Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)

In [136]:
print("Election Results")
print("-------------------------")
print(f"Total Votes: {votercount}")
print("-------------------------")
for r in range(0,4):
    print(f"{totals_df.iloc[r,0]}: {totals_df.iloc[r,2]}% ({totals_df.iloc[r,1]})")
print("-------------------------")
print(f"Winner: {df2.iloc[0,0]}")
print("-------------------------")

Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)
-------------------------
Winner: Khan
-------------------------

In [137]:
output_path = os.path.join("Analysis","Results.txt")

In [139]:
with open(output_path, 'w') as text_file:
    text_file.write("Election Results\n")
    text_file.write("-------------------------\n")
    text_file.write(f"Total Votes: {votercount}\n")
    text_file.write("-------------------------\n")
    for r in range(0,4):
        text_file.write(f"{totals_df.iloc[r,0]}: {totals_df.iloc[r,2]}% ({totals_df.iloc[r,1]})\n")
    text_file.write("-------------------------\n")
    text_file.write(f"Winner: {df2.iloc[0,0]}\n")
    text_file.write("-------------------------\n")